.contenedor{
    .form{
        margin: auto;
        margin-top: 20px;
        padding-bottom: 30px;
        border-radius: 10px;
        .form-header{
            .form-title{
                font-family: 'Quicksand', sans-serif;
                font-weight: normal;
                text-align: center;
                font-size: 7vw;
                }
            .form-title span{
                color: #ffffff;
                }    
        }
        .form-control-label {
            @extend .form-control-label;
            font-size: 4vw;
        }
        .form-input, .form-textarea{
            @extend .form-input, .form-textarea;
            font-size: 4vw;

            .form-textarea{
                resize: vertical;
                max-height: 150px;
                min-height: 50px;
            }
        }
        .btn-submit{
            @extend .btn-submit;
            font-size: 4vw;
        }
        &:hover {
            background: #ffffff;
        }

    }
}