body {
    margin: 0px;
    background-color: rgb(161, 185, 181);
}


*{
    max-width: 100%;
}

header{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}


html {
    font-size: 10px;
}
