$teal : #20c997;

.hamburguesa {
    visibility: visible; 
    .a{
        text-decoration: none;
    }
}

.color {
    background-color: $teal;
}

.navescritorio {
    display: none;
}
    
nav {    
    font-family: 'Quicksand', sans-serif;
    a {
        text-decoration: none;
        color: white;
    
    }
}

.green {
    background-color: rgb(45, 117, 117);
    color: aquamarine;
}