.navescritorio {
    display: none;
}

.hamburguesa {
    visibility: visible; 
    .menu {
        font-size: 8vw;
        color: white;
    }
    
    nav {    
        font-family: 'Quicksand', sans-serif;
        color: white;
        background-color: $navcolor;
        a {
            text-decoration: none;
            color: white;
            font-size: 6vw;
        }
}
.bg-teal, .p-4 {
    background-color: $navcolor;
}


.navbar-toggler-icon, .container-fluid {
    background-color: $navcolor;
}

}