$teal : #92afa5;

.navescritorio {
    display: none;
}

.hamburguesa {
    visibility: visible; 

    .menu {
        font-size: 30px;
        color: white;
    }

    nav {    
        font-family: 'Quicksand', sans-serif;
        color: white;
            a {
                text-decoration: none;
                color: white;
                font-size: 18px;
            }
        }

.bg-teal, .p-4 {
    background-color: $teal;
}


.navbar-toggler-icon, .container-fluid {
    background-color: $teal;
}


}