.navescritorio {
    display: none;
}

.hamburguesa {
    visibility: visible; 
    .menu {
        font-size: 8vw;
        color: white;
    }
    
    nav {    
        font-family: 'Quicksand', sans-serif;
        color: white;
        @include color ($teal);
        a {
            text-decoration: none;
            color: white;
            font-size: 6vw;
        }
}
.bg-teal, .p-4 {
    @include color ($teal);
}


.navbar-toggler-icon, .container-fluid {
    @include color ($teal);
}

}